.whole-twitter {
  background-color: rgb(244, 248, 249);
  font-family: helvetica;
  padding: 5px 10px 5px 10px;
  width: 800px;
}

.whole-tweet {
  background-color: rgb(255, 255, 255);
  border-color: rgb(225, 232, 237);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 35px;
}

.profile-pic {
  float: left;
  margin-right: 25px;
  height: 65px;
}

.top-text {
  padding-top: 5px;
}

.top-img {
  height: 20px;
}

.user-name {
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.user-account {
  color: rgb(104, 109, 129);
  font-size: 20px;
  margin-top: 5px;
}

.tweet-text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  margin-bottom: 10px;
}

.time-text {
  color: rgb(101, 116, 127);
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 20px;
}

.follow-button {
  border-color: rgb(85, 172, 238);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  float: right;
  margin-top: 10px;
  padding: 10px 15px 10px 15px;
  color: rgb(85, 172, 238);
}

#border-bird {
  height: 20px;
}

#border-text {
  font-size: 22px;
  font-weight: bold;
}

.bottom-part {
   color: rgb(105, 120, 130);
   font-size: 20px;
}

.bottom-img {
  height: 18px;
}

.bottom-button {
  margin-left: 20px;
}
