.whole-twitter {
  background-color: rgb(244, 248, 249);
  font-family: helvetica;
  padding: 5px 10px 5px 10px;
  width: 600px;
}

.whole-tweet {
  background-color: rgb(255, 255, 255);
  border-color: rgb(225, 232, 237);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 20px;
}

.profile-pic {
  float: left;
  margin-right: 10px;
}

.user-name {
  color: rgb(0, 0, 0);
}

.user-account {
  color: rgb(104, 109, 129);
}

.tweet-text {
  color: rgb(0, 0, 0);
}

.time-text {
  color: rgb(101, 116, 127);
}

.follow-button {
  border-color: rgb(85, 172, 238);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  float: right;
  width: 150px;
  padding: 5px 10px 5px 10px;
  color: rgb(85, 172, 238);
}

#border-text {
  font-size: 200%;
  font-weight: bold;
}

.bottom-part {
   color: rgb(105, 120, 130);
   font-size: 180%;
}

.bottom-button {
  margin-left: 35px;
}
